<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Credit Offer</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">

</head>
<body>
<h1>Create Credit Offer</h1>
<form method="POST" th:action="@{/creditOffer/create}" th:object="${creditOffer}">
    <label for="creditSum">Credit Sum:</label>
    <input id="creditSum" required th:field="*{creditSum}" type="number">
    <br>
    <label for="monthsOfCredit">Months of Credit:</label>
    <input id="monthsOfCredit" required th:field="*{monthsOfCredit}" type="number">
    <br>
    <label for="client">Client:</label>
    <select id="client" th:field="*{client}">
        <option th:each="client : ${clients}" th:text="${client.name} + ' ' + ${client.surname}"
                th:value="${client.id}"></option>
    </select>
    <br>
    <label for="credit">Credit:</label>
    <select id="credit" th:field="*{credit}">
        <option th:each="credit : ${credits}" th:text="${credit.name}" th:value="${credit.id}"></option>
    </select>
    <label for="startDate">Start Date:</label>
    <input id="startDate" th:field="*{startDate}" type="date">
    <br>
    <button type="submit">Create</button>
</form>
</body>
</html>